<h3>About GW SEAP</h3></br>
<p>The GW Science and Engineering Apprentice Program (SEAP), sponsored by The George Washington University and Analytic Services, Inc., is an eight week summer program for high school students. SEAP is designed so that students can apprentice in fields of their choice with experienced scientists and engineers. This opportunity provides students with valuable experience needed to make informed career decisions. Students apprentice with their mentors on mutually agreed upon projects. Because of the setting, students are treated as research assistants rather than just teenagers. First year participants are awarded an educational stipend of $2000.</br></br>

The students contribute to the research of the Analytic Services, Inc., while learning research techniques in the process. This "hands-on" experience gives students a broader view of their fields of interest and shows students what kind of work awaits them in their future career.  At the end of the summer, the students prepare final reports and present their research at a final seminar.</br></br>

For more information please read our <a href="/questions">Frequently Asked Questions</a> page or e-mail to: <a href="mailtto: seap@gwu.edu">seap@gwu.edu</a>, or call J.P. Blackford, the GW SEAP Program Director, at 202-994-2234. 
</p></br>

<h3>About Analytic Services, Inc. (ANSER)</h3></br>
<p>Analytic Services Inc. is a public-service research institute
organized as a not-for-profit corporation. We deliver capabilities
through ANSER; the Homeland Security Studies and Analysis Institute, a
federally funded research and development center (FFRDC) operated on
behalf of the Department of Homeland Security (DHS); and the Applied
Systems Thinking (ASysT) Institute. Our corporation supports a diverse
range of public sector clients in the national security, homeland
security and broader policy communities.</br></br>

Analytic Services has sponsored SEAP students for over sixteen years.
Analytic Services’ participation is motivated by our clear
understanding of the need for strong Science, Technology, Engineering
and Mathematics (STEM) education within the United States. Such
education is critical for national innovation and leadership in the
world economy.</br></br>

Working with senior research staff, SEAP students are challenged with
real world problems directly related to ongoing projects at Analytic
Services. The students formulate the research, develop solutions, and
capture the results, often briefing their research to senior federal
agency clients. Analytic Services CEO, Dr. Ruth David said, “Each year
I am impressed by the intelligence and drive of the SEAP interns. This
is definitely a program which provides as much value to the
corporation as we hope to provide to the students.”</br></br>

Summer projects in 2012 included: Simulation of the Flow of Illegal
Immigrants Across U.S.-Mexico Border; Chemical and Biological Defense
Program (CBDP) Review Data Elements and Metrics; Analysis of Factors
that Influence Population Movement Guidance; Advanced Antenna
Technology in the Medical Field; A Generalized Security Architecture:
Two Modeling Perspectives; and An Analysis of Solar Particle Event
Spectra and Transport , Using Data from the Radiation Assessment
Detector on Mars.</br></br>

Summer projects in 2011 included: A Systems Thinking Approach to
Remodeling the Architectural Framework of Acquisition Programs from
the Department of Homeland Security; An Analysis of the Dangers of a
Reasonable Worst-Case Solar Particle Event on a Mission into Deep
Space; Army Energy Efficiencies of Forward Operating Bases; and a
study of the North African Wheat Crises.
</p>