<h3>The GW SEAP Experience</h3>

<div class="quote">
	<b>Former GW SEAP Participants said the following about the experience:</b></br></br>
	“This was the most valuable learning experience that I have ever had--in or out of school.”</br></br>
	“My GW SEAP experience has been more than just my project and final report because of the people I have met, the places I have visited, and the memories I have made.”</br></br>
	“Participating in GW SEAP has been a wonderful experience. Working in a technical field has confirmed my interest in pursuing career paths in engineering and other STEM fields.”</br></br>
	“My SEAP experience has been one I will always cherish and remember and look forward to doing it again next year!”</br></br>
	“SEAP has been an amazing program that has given  valuable real world work experience, and taught me skills used every day  in the fields of science and engineering.” 
</div>

<p>There is a high degree of consensus that an adequate supply of scientifically and technologically literate, flexible, educated workers will be critical to the future growth and innovation in the United States.  The GW SEAP program responds to that need.  It embraces science, mathematics, and technology as keys to purposeful and sustained progress for our nation and its people.  Over the summer, you will begin to acquire the hands-on knowledge and skills that will prepare you for a future technological career.  The SEAP program strives to give you an experience that is different from your high school – you are not reading a textbook and learning; you are gaining hands-on experience as well as technical competency.</br></br>

The GW Science and Engineering Apprentice Program is not a traditional employment experience. As an interested and enthusiastic high school student, GW SEAP will expose you to a genuine, hands-on laboratory experience.  GW SEAP will also help you in STEM related courses at school and prepare you for college. </br></br>

As a GW SEAP participant, you will be working closely with a scientist of engineer at the participating laboratory and assisting him/her with research.  Your mentor will develop and explain your summer project and allow you to execute that project while giving you guidance and support.  Just like a scientist or engineer who completes a research project, you will write a brief report summarizing your findings and present them to your peers and other scientists, engineers, and staff at the participating laboratory.</br></br>

Your mentor for the summer will also be giving you a snapshot of what it is like to be a practicing scientist of engineer.  You will learn about career opportunities and the education that is necessary in order to pursue a career in STEM and to face the challenges of tomorrow. </br></br>

While each experience is different depending on the project your mentor assigns to you, here are some abstracts of projects that GW SEAP participants have completed at Analytic Services, Inc.:</br></br>

<b>Modeling Risk and Uncertainty: Cyber Attack Scenario</b></br></br>

This report describes the model created to analyze the risk and uncertainty in a cyberterrorist attack scenario. While scenarios represent a generic actor employing a specific threat against a target, they must be further divided into attack paths that detail the different decisions that an actor would have to make to proceed with an attack. Probabilities that a certain scenario would occur and that Department of Homeland Security (DHS) programs could stop the actor in those scenarios, were determined through previous and additional open-source research. Those probabilities were inputted into the model created in the software program Analytica, with a triangular distribution used to account for uncertainty. After the risk of a cyber attack and values of risk reduced by programs were determined, uncertainty and sensitivity analyses were conducted. </br></br>

The uncertainty analysis looked at how much uncertainty each input variable contributed to the risk values’ uncertainty, while the sensitivity analysis focused on how much each input variable influenced the risk values themselves. Since the nation is in need of stronger defense against cyber attacks, decision makers can use the results of risk and uncertainty analysis to determine strengths and weaknesses, thereby becoming equipped to make better informed decisions, like resourcing, strategies, and prioritization, in the future.</br></br>

<b>A Systems Solution to International Maritime Piracy</b></br></br>

Piracy is an increasing issue as it affects trade throughout the world. A systems thinking approach was used to solve this problem through the Conceptagon, behavior over time graphs, systemigram and causal loop diagram. The five solutions that are suggested consist of two immediate response solutions and three long-term response solutions: designating a specific sea route for vessels to travel, joint work between local governments to share information, building up the local military, improving or creating a justice system, and stimulating the economy to lower the poverty rates.</br></br>

<b>Influenza A/H1N1 Pandemic of 2009: A Comparative Analysis of Three Specific Countries’ Actions</b></br></br>

The objective of this project is to analyze and compare the different responses of Mexico, the United States, and China. I chose Mexico because it is the country of origin for the influenza A/H1N1 outbreak. The United States intrigued me since analyzing decisions made by the United States government would directly impact our population. Lastly, China stood out because it implemented the most stringent measures to contain the virus compared to any other country.</br></br>

<b>Bioremediation of Hazardous Materials</b></br></br>

The objective of this project was to develop an understanding of bioremediation processes and to create a computer tool to model them. Bioremediation is defined as the process of degrading hazardous materials (by either chemicals or microorganisms) into a form that is environmentally safe. Microorganism growth rates and degradation capabilities are influenced by their environment and can be enhanced by changing their surroundings.</br></br>

To have a better understanding of the processes of bioremediation, a literature search was conducted through the internet. Articles were divided into sections such as oil sludge, landfarming and environmental parameters. Critical information necessary for the development of the computer tool was identified. For simplicity, oil sludge was chosen as the degradation target for the computer tool. The computer tool had the capability to model microbial growth, degradation rates, and landfarming abilities. Results obtained were compared with similar scenarios found in the literature.</br></br>

<b>The Impact of Suspended Dust on the Martian Surface Radiation Environment</b></br></br>

A human mission to Mars will present many dangers and risks to astronauts that need to be evaluated and planned for. This report will appraise the danger involved when space radiation in the form of galactic cosmic rays and solar particle events hit the Martian atmosphere and the free floating dust particles within it. The data for this report consist of the findings and adaptations of models for atmospheric density and the ability to manipulate the models for use with slant angles and also dust distribution. For the results of this project, data from the elemental composition of the dust and atmosphere were sent to NASA Langley to be run in a statistical program based on Monte Carlo type calculations. The results from this program were able to answer the question if dust would be a danger to astronauts or not.</p>
