<h3>Goals of GW SEAP</h3></br>

<p>The <b>GW SEAP Program</b> at <b>Analytic Services, Inc.</b>, has the following goals:</br></br>
•	<b>Acquaint</b> qualified high school students with the activities of industrial partners in the Washington, DC area through summer research and engineering experiences. </br></br>
•	<b>Provide</b> students with opportunities in and exposure to scientific and engineering practices and personnel not available in their school environment. </br></br>
•	<b>Establish</b> a pool of students preparing for careers in science and engineering with a view toward potential government service. </br></br>
•	<b>Prepare</b> these students to serve as positive role models for their peers thereby encouraging other high school students to take more science and math courses. </br></br>
•	<b>Involve</b> a larger percentage of students from previously underrepresented segments of our population, such as women, African-Americans, and Hispanics, in pursuing science and engineering careers. </p>
