<%= image_tag("homegraphic.png") %>

<p>The Science and Engineering Apprenticeship Program (SEAP) provides an opportunity for students to participate in research at a Department of Navy (DoN) laboratory during the summer.

The goals of SEAP are to encourage participating students to pursue science and engineering careers, to further their education via mentoring by laboratory personnel and their participation in research, and to make them aware of DoN research and technology efforts, which can lead to employment within the DoN.

SEAP provided competitive research internships to over 265 high school students this year. Participating students spend eight weeks during the summer doing research at 24 DoN laboratories.
</p>

<a class="btn btn-large btn-block btn-success" href="/users/sign_up">Apply Now!</a>