<h3>Applications Are Due March 8, 2013!</h3>
<%= image_tag("homegraphic.png") %>

<h3>“GW SEAP has been an amazing program that has given me valuable real world work experience, and taught me skills used every day in the fields of science and engineering.” </h3>

<p>The <b>GW Science and Engineering Apprentice Program (SEAP)</b>, sponsored by <b>The George Washington University</b> and <b>Analytic Services, Inc.</b>, is an eight week summer program for high school students. SEAP is designed so that students can apprentice in fields of their choice with experienced scientists and engineers. This opportunity provides students with valuable experience needed to make informed career decisions. Students apprentice with their mentors on mutually agreed upon projects. Because of the setting, students are treated as research assistants rather than just teenagers. <b>First year participants are awarded an educational stipend of $2000.</b></br></br>

The students contribute to the research of the Analytic Services, Inc., while learning research techniques in the process. This "hands-on" experience gives students a broader view of their fields of interest and shows students what kind of work awaits them in their future career. At the end of the summer, the students prepare final reports and present their research at a final seminar.
</p>

<h4>“My GW SEAP experience has been one I will always cherish and remember and look forward to doing it again next year!”</h4>

<a class="btn btn-large btn-block btn-success" href="/users/sign_up">Apply Now!</a>