<h1>Frequently Asked Questions</h1></br>
<p>

<b>General Info</b></br></br>
<b>Can I apply if I am not a U.S. citizen?</b></br>
Yes, you may apply if you are not a U.S. Citizen. </br></br>

<b>What is the minimum age requirement for GW SEAP Applicants?</b></br>
You must be a minimum of 16 years old by the start of the GW SEAP program in order to apply.</br></br>

<b>Is housing provided for the program?</b></br>
No, this is not a residential program. Housing is not provided. It is the responsibility of the student to acquire suitable accommodation, typically with friends or family members if they do not reside in the area surrounding the laboratory.</br></br>

<b>Is transportation provided?</b></br>
No, transportation is also not provided. Students have to find their own transportation to and from the lab. It is recommended that students consider commuting options before applying.</br></br>

<b>Can out of state students apply?</b></br>
Yes, provided they can find their own accommodation, typically with friends or family members.</br></br>

<b>Is this a paid internship? What is the stipend level?</b></br>
Yes, students receive a small stipend. The stipend is set at $2000 for 8 weeks for first time GW SEAP participants. Returning students get an additional $50 for each additional year they have been in the program. Stipends are paid in two installments: the first installment is paid 4 weeks into the program and the 2nd installment is paid at the conclusion, after the student has completed all requirements of the program and of the host laboratory.</br></br>

<b>Application Procedure</b></br></br>

<b>What is the deadline to apply?</b></br>
Applications are due on February 25, 2013.</br></br>

<b>Where do I get a paper application?</b></br>
We do not have paper applications. Applicants must apply online at: (***)</br></br>

<b>Who can I choose as my reference?</b></br>
It is recommended that you list as references science or math teachers who can attest to your scientific knowledge and skills.</br></br>

<b>Will you contact my references for a letter of recommendation?</b></br>
No, we will not contact your references for a letter of recommendation. It is your responsibility to ensure that your reference mails us a letter of recommendation. </br></br>

<b>What is the deadline for letters of recommendation and transcripts?</b></br>
Letters of recommendation and transcripts should reach us by March 5, 2013.</br></br>

<b>What is the mailing address for letters of recommendation and transcripts?</b></br>
They can be mailed to:</br>
Mr. J.P. Blackford, Program Director</br>
SEAS-GWU</br>
1776 G Street, NW</br>
Room LL 171</br>
Washington, DC 20052 </br></br>

<b>After I submit the application, how do I make changes or update information?</b></br>
Applicants can make changes and update their applications by clicking on the "Edit Application" link within thier account. Applicants must be logged in to make and save changes.</br></br>

<b>When will I be notified if I have been selected?</b></br>
Selected students will be notified by May 31, 2013.</br></br>

</p>
