<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
<h3>Applicant Portal</h3>
<p><b>User:</b> <%= @user.name %><br />
	<b>Email:</b> <%= @user.email if @user.email %></p>
<%= render :partial=> 'show_appform', :locals => {:appforms => @user.appforms} %>

<br>
<div class="newapp">
<% if @user.appforms.count == 0 %>  
<a class="btn btn-large btn-block btn-success" href="/appforms/new">Start Your Application!</a>
<% end %>
</div>
<% end %>
 
<% end %>
