// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {padding: 20px;
	background-color: #fff;}

button {align: center;}

h3 {color: #3676ad;
	text-align: center;
	background-color: #cfdfed;
	padding: 8px;
	border-radius: 5px}

h4 {color: #3676ad;
	text-align: center;
	background-color: #cfdfed;
	padding: 8px;
	border-radius: 5px}

.quote {background-color: #3676ad;
		color: white;
		text-align: center;
		padding: 15px;
		font-size: 18px;
		border-radius: 5px;}

.quote b {color: white;
		  font-size: 20px;}